#
# Install requirements
#

click>=3.3,<4
colorama

bunch==1.0.1
configobj>=5.0,<6
#-e git+https://github.com/DiffSK/configobj#egg=configobj
#rudiments==0.3.0
-e git+https://github.com/jhermann/rudiments#egg=rudiments

# YAML reading / writing
PyYAML==3.11
pyaml

# Vault client API
hvac>=0.2.13
keyring
